/*
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

font-family: 'Raleway', sans-serif;


*/



* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.25;
    color: #676767;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

/*/ Video Cover /*/


.pageWrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}
s
.videoContainer {
    max-width: 960px;
    padding: auto .25em;
    margin: auto;
    text-align: center;
}

.fullScreenVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

fullScreenVideo video {
    min-width: 100%;
    min-height: 100%;
}

/*/ Video Overlay /*/

.vidOverlay {
    height: 100vh;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(87, 167, 50, 0.64);
    z-index: 1;
    opacity: .25;
}   


/*/ Name Block /*/

.content {
    margin-top: 30%;
    margin-bottom: 1%;  
    z-index: 2;
    text-align: center;
}

.content h1 {
    color: transparent;
    z-index: 2;
    font-size: 5em;
    margin-bottom: 0;   
    letter-spacing: 9.2px;
    text-shadow: 1.5px 1.5px rgba(45, 199, 0, 0.97), 1px 1px black, 1.2px 1.2px black, -1.2px -1.2px white;
    text-shadow: 1.5px 1.5px transparent, 1px 1px black, 1.2px 1.2px black, -1.2px -1.2px white;
    padding-bottom: 0;
}

.content h3  {
    color: black;
    margin-top: -.7em;
    z-index: 2;
    font-size: 1.4em;
    margin-bottom: .5em;
    letter-spacing: 1.2px;
    text-shadow: 1.5px 1.5px rgba(45, 199, 0, 0.97), 1px 1px black, 1.2px 1.2px black, -1.2px -1.2px white;
    text-shadow: 1.5px 1.5px transparent, 1px 1px black, 1.2px 1.2px black, -1.2px -1.2px white;
    padding-bottom: 0;
}

.content p {
    z-index: 2;
    font-size: 1.2em;
    display: black;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 1em;
    text-shadow: 1px 1px black, -0.9px -0.9px white, 1.2px 1.2px black; 
    /*text-shadow: 1px 1px black; */
    margin-right: 15%;
    margin-left: 15%;
}
/*
.specialties {
    background: black;
    color: rgba(87, 167, 50, 0.64);
    font-size: 1.5em;
    margin: .25em;
    padding: .2em .5em;
    text-decoration: none;
    border-radius: .2em;
    text-shadow: 1px 1px black, -0.9px -0.9px white, 1.2px 1.2px black;
    text-align: center;
    margin-bottom: 1.1em;
} */


.specialties a {
   /* background: black; */
    color: rgba(87, 167, 50, 0.64);
    font-size: 1.5em;
    margin: .25em;
    padding: .2em .5em;
    text-decoration: none;
    border-radius: .2em;
    text-shadow: 1px 1px black, -0.9px -0.9px white, 1.2px 1.2px black;
    text-align: center;
    margin-bottom: 1.1em;
    margin: .25em;
    padding: .2em 1em;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1.5;
}   

.press {
    background: black;
  /*  color: rgba(87, 167, 50, 0.64); */
    color: transparent; 
    font-size: 1.5em;
    margin: .25em;
    padding: .2em .5em;
    text-decoration: none;
    border-radius: .2em;
    text-shadow: 1px 1px black, -0.9px -0.9px white, 1.2px 1.2px black;
    text-align: center;
    margin-top: 1em;
    border: .1em solid transparent;
    letter-spacing: 2px;
}

.press a {
    margin: .25em;
    padding: .2em 1em;
    text-align: center;
    text-decoration: none;
    margin-top: 5em;
    letter-spacing: 2px;

    background: black;
    color: rgba(87, 167, 50, 0.64);
    font-size: 1.5em;
    margin: .25em;
    padding: .2em .5em;
    text-decoration: none;
    border-radius: .2em;
    text-shadow: 1px 1px black, -0.9px -0.9px white, 1.2px 1.2px black;
    text-align: center;
    margin-bottom: 1.1em;
}    

header {
    margin-bottom: 2em;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
}

/*  OPEN WHEN  CODING BEGINS FOR JS
#launchSite {

} */ 

/*.sectionContainer {
    width: 1080px;
    /* z-index: 3; */  /*
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 2;
    clear: both;
}  */

#launchSite {
    background: purple;
    z-index: 3;
    clear: both;
}

.sectionB {
    background: yellow;
}

.container {
    background: teal;
}

/*  Responsive Detail */

@media (max-width: 960px) {
    .videoContainer{
        padding-left: 3em;
        padding-right: 3em;
    }
}



/*z-index: higher = closer, lower either further...huh?*/   
